body {
    /* https://wallpaper.dog/large/10865134.jpg */
    background: url("https://wallpaperaccess.com/full/44729.jpg") no-repeat center center fixed;
    background-size: cover;
}


.choices, .form_filler, .aggregate_calc {
    display: inline-block;
}

#auto_form_filling, #aggregate {
    margin-top:10vh;
    height:60vh;
    width:35vw;
    margin-left: auto;
    margin-right: 5vw;
    opacity: 0.9;

    /* background: rgb(0, 13, 120); */
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

#auto_form_filling {
    margin-left: 10vw;
}


#aggregate_message, #forms_message {
    height:60vh;
    width:35vw;
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    /* background: rgb(0, 13, 145); */
    color:red;
    transform: translateY(-6px);
}

#forms_message {
    background: url("https://transcode-v2.app.engoo.com/image/fetch/f_auto,c_lfill,w_300,dpr_3/https://assets.app.engoo.com/images/4hSaD4pvCJpDgIM3uo9lpS.jpeg") no-repeat center center fixed;
    background-size: cover;
}

#aggregate_message {
    background: url("https://qph.cf2.quoracdn.net/main-qimg-818f4cf70352074ad2bc9f2b9355d757-pjlq") no-repeat center center fixed;
    background-size: cover;
    
}
#auto_form_filling:active #forms_message {
    transform: translateY(-2px);
}
#aggregate:active #aggregate_message {
    transform: translateY(-2px);
}