body {
    background: url("https://pbs.twimg.com/media/Fa5Sh43WIAAtZuQ?format=jpg&name=large") no-repeat center center fixed;
    background-size: cover;
}

.card {
    margin-top: 16%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn {
    border-radius: 12px;
    margin-top: 10px;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: aliceblue;
    width: 100%;
    padding: 0;
    text-align: center;
}


.gridcard {
    background-color: rgba(42, 50, 50, 0.7);
}